/****** Object:  StoredProcedure [dbo].[TII_RMCheckLinks_AFTER]    Script Date: 30/11/2017 05:03:13 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
  create PROCEDURE [dbo].[TII_RMCheckLinks_AFTER] AS DELETE RM10201 WHERE BCHSOURC = 'nfMCP_Cash'  DELETE RM00401 WHERE BCHSOURC = 'TII_Delete'  DELETE RM20101 WHERE BCHSOURC = 'TII_Delete'    