/****** Object:  StoredProcedure [dbo].[TII_RMCheckLinks_BEFORE]    Script Date: 30/11/2017 05:03:28 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
  create PROCEDURE [dbo].[TII_RMCheckLinks_BEFORE] AS INSERT INTO RM10201 (BACHNUMB,BCHSOURC,DOCNUMBR,CUSTNMBR,RMDTYPAL,DOCDATE,CSHRCTYP,CHEKNMBR,CHEKBKID,CRCARDID,DISAMCHK,CURNCYID,NDSTAMNT,TRXDSCRN, ONHOLD,POSTED,NOTEINDX,LSTEDTDT,LSTUSRED,ORTRXAMT,CURTRXAM,WROFAMNT,DISTKNAM,DISAVTKN,PPSAMDED,GSTDSAMT,RMTREMSG,RMDPEMSG,GLPOSTDT,RMTREMSG2,PSTGSTUS) SELECT A.BACHNUMB, A.BCHSOURC, NUMBERIE, NFENTID, A.RMDTYPAL, A.DOCDATE, 0 AS CSHRCTYP,  '' AS CHEKNMBR, '' AS CHEKBKID, '' AS CRCARDID, 0 AS DISAMCHK, A.CURNCYID, 0 AS NDSTAMNT,  '' AS TRXDSCRN, 0 AS ONHOLD, 0 AS POSTED, 0 AS NOTEINDX, A.LSTEDTDT, A.LSTUSRED,   TOTAMNT AS ORTRXAMT, A.CURTRXAM, A.WROFAMNT, A.DISTKNAM, A.DISAVTKN, 0 AS PPSAMDED,  0 AS GSTDSAMT, A.RMTREMSG, A.RMDPEMSG, A.GLPOSTDT, CONVERT(binary,'') AS RMTREMSG2, 20 AS PSTGSTUS   FROM nfMCP10000 A  LEFT OUTER JOIN RM10201 B ON A.NUMBERIE = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL  WHERE B.DOCNUMBR IS NULL  INSERT INTO RM00401(DOCNUMBR,RMDTYPAL,DCSTATUS,BCHSOURC,TRXSORCE,CUSTNMBR,CHEKNMBR,DOCDATE) SELECT NUMBERIE, A.RMDTYPAL, 2 AS DCSTAUS, 'TII_Delete' AS BCHSOURC, B.TRXSORCE,   'VARIOS', '' AS CHEKNMBR, A.DOCDATE  FROM nfMCP20000 A   INNER JOIN (SELECT TRXSORCE, DOCNUMBR, RMDTYPAL FROM RM10101 GROUP BY TRXSORCE,  DOCNUMBR, RMDTYPAL) B  ON A.NUMBERIE = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL   LEFT OUTER JOIN RM00401 C ON A.NUMBERIE = C.DOCNUMBR AND A.RMDTYPAL = C.RMDTYPAL   WHERE C.DOCNUMBR IS NULL    INSERT INTO RM20101(CUSTNMBR,CPRCSTNM,DOCNUMBR,CHEKNMBR,BACHNUMB,BCHSOURC,TRXSORCE, RMDTYPAL,CSHRCTYP,CBKIDCRD,CBKIDCSH,CBKIDCHK,DUEDATE,DOCDATE,POSTDATE,PSTUSRID,GLPOSTDT, LSTEDTDT,LSTUSRED,ORTRXAMT,CURTRXAM,SLSAMNT,COSTAMNT,FRTAMNT,MISCAMNT,TAXAMNT,COMDLRAM, CASHAMNT,DISTKNAM,DISAVAMT,DISAVTKN,DISCRTND,DISCDATE,DSCDLRAM,DSCPCTAM,WROFAMNT,TRXDSCRN, CSPORNBR,SLPRSNID,SLSTERCD,DINVPDOF,PPSAMDED,GSTDSAMT,DELETE1,AGNGBUKT,VOIDSTTS,VOIDDATE, TAXSCHID,CURNCYID,PYMTRMID,SHIPMTHD,TRDISAMT,SLSCHDID,FRTSCHID,MSCSCHID,NOTEINDX,Tax_Date, APLYWITH,SALEDATE,CORRCTN,SIMPLIFD,Electronic,ECTRX,BKTSLSAM,BKTFRTAM,BKTMSCAM,BackoutTradeDisc, Factoring)    SELECT 'VARIOS', '' AS CPRCSTNM, NUMBERIE, '' AS CHEKNMBR, A.BACHNUMB,    'TII_Delete' AS BCHSOURC, B.TRXSORCE, A.RMDTYPAL, 0 AS CSHRCTYP, '' AS CBKIDCRD,    '' AS CBKIDCSH, '' AS CBKIDCHK, 0 AS DUEDATE, A.DOCDATE, A.DOCDATE AS POSTDATE,    A.LSTUSRED AS PSTUSRID, A.GLPOSTDT, A.LSTEDTDT, A.LSTUSRED, TOTAMNT AS ORTRXAMT,    A.CURTRXAM, 0 AS SLSAMNT, 0 AS COSTAMNT, 0 AS FRTAMNT, 0 AS MISCAMNT, 0 AS TAXAMNT,    0 AS COMDLRAM, 0 AS CASHAMNT, A.DISTKNAM, 0 AS DISAVAMT, A.DISAVTKN, 0 AS DISCRTND,    0 AS DISCDATE, 0 AS DSCLDRAM, 0 AS DSCPCTAM, A.WROFAMNT, '' AS TRXDSCRN, '' AS CSPORNBR,    '' AS SLPRSNID, '' AS SLSTERCD, 0 AS DINVPDOF, 0 AS PPSAMDED, 0 AS GSTDSAMT, 0 AS DELETE1, 1 AS AGNGBUKT,    A.VOIDSTTS, A.VOIDDATE, '' AS TAXSCHID, A.CURNCYID, '' AS PYMTRMID, '' AS SHIPMTHD,    0 AS TRDISAMT, '' AS SLSCHDID, '' AS FRTSCHID, '' AS MSCSCHID, 0 AS NOTEINDX, 0 AS Tax_Date,   0 AS APLYWITH, 0 AS SALEDATE, 0 AS CORRCTN, 0 AS SIMPLIFD, 0 AS Electronic, 0 AS ECTRX,    0 AS BKTSLSAM, 0 AS BKTFRTAM, 0 AS BKTMSCAM, 0 AS BackoutTradeDisc, 0 AS Factoring   FROM nfMCP20000 A    INNER JOIN (SELECT TRXSORCE, DOCNUMBR, RMDTYPAL FROM RM10101 GROUP BY TRXSORCE,   DOCNUMBR, RMDTYPAL) B   ON A.NUMBERIE = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL    LEFT OUTER JOIN RM20101 C ON A.NUMBERIE = C.DOCNUMBR AND A.RMDTYPAL = C.RMDTYPAL    WHERE C.DOCNUMBR IS NULL      