/****** Object:  StoredProcedure [dbo].[TII_PMCheckLinks_BEFORE]    Script Date: 30/11/2017 05:02:58 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
  create PROCEDURE [dbo].[TII_PMCheckLinks_BEFORE] AS  
  INSERT INTO PM10400   
  SELECT A.BACHNUMB, 'TII_Delete' AS BCHSOURC, A.NUMBERIE, CASE A.NFENTID WHEN '' THEN 'VARIOS' ELSE A.NFENTID END, A.NUMBERIE, 9,  A.DOCAMNT, A.DOCDATE, A.PSTGDATE, 0, 0, '',  A.CURNCYID, '', A.TRXDSCRN, A.DISAMTAV, A.DISTKNAM, A.WROFAMNT,    
  A.CURTRXAM, A.APPLDAMT, A.PMWRKMSG, CONVERT(binary,'') AS PMWRKMS2, A.PMDSTMSG, A.GSTDSAMT, A.PPSAMDED,   A.PPSTAXRT, A.PGRAMSBJ, A.NOTEINDX, A.NUMBERIE, A.CNTRLTYP, A.MODIFDT, A.MDFUSRID, A.POSTEDDT, A.PTDUSRID, 0, 0 , '' 
  FROM    nfMCP_PM10000 A LEFT OUTER JOIN PM10400 C   ON A.NUMBERIE = C.PMNTNMBR    WHERE C.PMNTNMBR IS NULL   
  
  INSERT INTO PM00400  
  SELECT A.NUMBERIE, 1 AS CNTRLTYP, 2 AS DCSTATUS, A.DOCTYPE, A.NFENTID, A.NUMBERIE AS DOCNUMBR, B.TRXSORCE,    '' AS CHEKBKID, 0 AS DUEDATE, 0 AS DISCDATE,  'TII_Delete' AS BCHSOURC, A.DOCDATE, A.MDFUSRID    
  FROM   nfMCP_PM20000 A INNER JOIN (SELECT VCHRNMBR, CNTRLTYP, TRXSORCE FROM PM10100 GROUP BY VCHRNMBR, CNTRLTYP, TRXSORCE) B   ON A.NUMBERIE = B.VCHRNMBR AND A.CNTRLTYP = B.CNTRLTYP       LEFT OUTER JOIN PM00400 C ON A.NUMBERIE = C.CNTRLNUM AND C.CNTRLTYP = 1     WHERE C.CNTRLTYP IS NULL AND A.ENTITY <> 1  
  
  INSERT INTO PM20000(VCHRNMBR,VENDORID,DOCTYPE,DOCDATE,DOCNUMBR,DOCAMNT,CURTRXAM, DISTKNAM,DISCAMNT,DSCDLRAM,BACHNUMB,TRXSORCE,BCHSOURC,DISCDATE,DUEDATE,PORDNMBR, TEN99AMNT,WROFAMNT,DISAMTAV,TRXDSCRN,UN1099AM,BKTPURAM,BKTFRTAM,BKTMSCAM,VOIDED, HOLD,CHEKBKID,DINVPDOF,PPSAMDED,PPSTAXRT,PGRAMSBJ,GSTDSAMT,POSTEDDT,PTDUSRID,MODIFDT, MDFUSRID,PYENTTYP,CARDNAME,PRCHAMNT,TRDISAMT,MSCCHAMT,FRTAMNT,TAXAMNT,TTLPYMTS,CURNCYID, PYMTRMID,SHIPMTHD,TAXSCHID,PCHSCHID,FRTSCHID,MSCSCHID,PSTGDATE,DISAVTKN,CNTRLTYP,NOTEINDX, PRCTDISC,RETNAGAM,ICTRX,Tax_Date,PRCHDATE,CORRCTN,SIMPLIFD,BNKRCAMT,APLYWITH,Electronic, ECTRX,DocPrinted,TaxInvReqd,VNDCHKNM,BackoutTradeDisc)  
  SELECT A.NUMBERIE,   CASE A.NFENTID WHEN '' THEN 'VARIOS' ELSE A.NFENTID END,   A.DOCTYPE, A.DOCDATE, A.NUMBERIE AS DOCNUMBR, A.DOCAMNT, A.CURTRXAM,    A.DISTKNAM, 0 AS DISCAMNT, 0 AS DSCDLRAM, A.BACHNUMB, B.TRXSORCE, 'TII_Delete' AS BCHSOURC,     0 AS DISCDATE, 0 AS DUEDATE, '' AS PORDNMBR, 0 AS TEN99AMNT,     A.WROFAMNT, A.DISAMTAV, A.TRXDSCRN, 0 AS UN1099AM, 0 AS BKTPURAM, 0 AS BKTFRTAM, 0 AS BKTMSCAM,   A.VOIDSTTS, 0 AS HOLD, '' AS CHEKBKID, 0 DINVPDOF, A.PPSAMDED, A.PPSTAXRT, A.PGRAMSBJ,     A.GSTDSAMT, A.POSTEDDT, A.PTDUSRID, A.MODIFDT, A.MDFUSRID, A.PYENTTYP, '' AS CARDNAME, 0 AS PRCHAMNT,   0 AS TRDISAMT, 0 AS MSCCHAMT, 0 AS FRTAMNT, 0 AS TAXAMNT, 0 AS TTLPYMTS, A.CURNCYID,     '' AS PYMTRMID, '' AS SHIPMTHD, '' AS TAXSCHID, '' AS PCHSCHID, '' AS FRTSCHID, '' AS MSCSCHID,   A.PSTGDATE, 0 AS DISAVTKN, A.CNTRLTYP, A.NOTEINDX, 0 AS PRCTDISC, 0 AS RETNAGAM, 0 AS ICTRX,    0 AS Tax_Date, 0 AS PRCHDATE, 0 AS CORRCTN, 0 AS SIMPLIFD, 0 AS BNKRCAMT, 0 AS APLYWITH,     0 AS Electronic, 0 AS ECTRX, 0 AS DocPrinted, 0 AS TaxInvReqd, '' AS VNDCHKNM, 0 AS BackoutTradeDisc    
  FROM nfMCP_PM20000 A INNER JOIN   (SELECT VCHRNMBR, CNTRLTYP, TRXSORCE FROM PM10100 GROUP BY VCHRNMBR, CNTRLTYP, TRXSORCE) B   ON A.NUMBERIE = B.VCHRNMBR AND A.CNTRLTYP = B.CNTRLTYP    LEFT OUTER JOIN PM20000 C ON C.DOCTYPE = A.DOCTYPE AND C.DOCNUMBR = A.NUMBERIE    WHERE C.VENDORID IS NULL AND A.ENTITY <> 1   AND A.VOIDSTTS <> 1  UPDATE PM20100   SET KEYSOURC = 'REMITTANCE'  FROM PM20100 A, nfMCP_PM10000 B  WHERE A.VCHRNMBR = B.NUMBERIE AND A.DOCTYPE = B.DOCTYPE    

go
