/****** Object:  StoredProcedure [dbo].[TII_PMCheckLinks_AFTER]    Script Date: 30/11/2017 05:02:38 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
  create PROCEDURE [dbo].[TII_PMCheckLinks_AFTER] AS DELETE PM10400 WHERE BCHSOURC = 'TII_Delete'  DELETE PM00400 WHERE BCHSOURC = 'TII_Delete'  DELETE PM20000 WHERE BCHSOURC = 'TII_Delete'  UPDATE PM20100   SET KEYSOURC = RTRIM(A.VCHRNMBR) + '6'  FROM PM20100 A, nfMCP_PM10000 B  WHERE A.VCHRNMBR = B.NUMBERIE AND A.DOCTYPE = B.DOCTYPE    